{% extends 'layouts/admin/layout.html' %}

{% block css_extra %}
	<link rel="stylesheet" type="text/css" href="/admin/css/admin.css">
{% endblock %}

{% block title %}
	<title>{{ adminPanelTitle }} / Категории</title>
{% endblock %}

{% block body %}
	<section class="section">
	    <div class="container is-fluid">
	    	<div class="columns is-variable is-3">
	    		<div class="column is-two-fifths">
	    			<div class="box is-radiusless">
	    				{% include 'templates/partials/admin/adminSidebar.html' %}
	    			</div>
	    		</div>

	    		<div class="column">
	    			<div class="box is-radiusless">
	    				<h1 class="title is-4">Категории</h1>

	    				<hr>
	    				{% if categories.length > 0 %}
		    				{% for category in categories %}
		    					<p>
		    						<strong>#{{ loop.index }} {{ category.name }}</strong>

		    						/ 

		    						<a href="/admin-panel/categories/edit/{{ category.cat_id }}">Редактировать</a> 

		    						/ 

		    						<a href="/admin-panel/categories/delete/{{ category.cat_id }}">Удалить</a>
		    					</p>

		    					<hr>
		    				{% endfor %}
		    			{% else %}
		    				Категории не найдены!
		    			{% endif%}
	    			</div>
		    	</div>
	    	</div>
    	</div>
	</section>
{% endblock %}

{% block js_extra %}
	<script src="/admin/js/ajax.js"></script>
	<script src="/admin/js/ajaxCategories.js"></script>
{% endblock %}