{% extends 'layouts/admin/layout.html' %}

{% block css_extra %}
	<link rel="stylesheet" type="text/css" href="/admin/css/admin.css">
{% endblock %}

{% block title %}
	<title>{{ adminPanelTitle }} / Удалить новость</title>
{% endblock %}

{% block body %}
	<section class="section">
	    <div class="container is-fluid">
	    	<div class="columns is-variable is-3">
	    		<div class="column is-two-fifths">
	    			<div class="box is-radiusless">
	    				{% include 'templates/partials/admin/adminSidebar.html' %}
	    			</div>
	    		</div>

	    		<div class="column">
	    			<div class="box is-radiusless">
	    				<h1 class="title is-4">Удаление новости</h1>

	    				<hr>
	    				{% if found %}
	    					<p>Удалить новость - <strong>{{ article[0].title }}</strong>?</p>

	    					<hr>

	    					<form id="newsDeleteForm">
	    						<input name="id" value="{{ article[0].id }}" type="hidden">
	    						<input name="newsID" value="{{ article[0].news_id }}" type="hidden">

	    						<button id="newsDeleteButton" class="button is-danger w50">Удалить</button>
	    					</form>
	    				{% else %}
	    					Новость с таким ID не найдена!
	    				{% endif %}
	    			</div>
		    	</div>
	    	</div>
    	</div>
	</section>
{% endblock %}

{% block js_extra %}
	<script src="/admin/js/ajax.js"></script>
	<script src="/admin/js/ajaxNews.js"></script>
{% endblock %}