{% extends 'layouts/admin/layout.html' %}

{% block css_extra %}
	<link rel="stylesheet" type="text/css" href="/admin/css/admin.css">
{% endblock %}

{% block title %}
	<title>{{ adminPanelTitle }} / Регионы</title>
{% endblock %}

{% block body %}
	<section class="section">
	    <div class="container is-fluid">
	    	<div class="columns is-variable is-3">
	    		<div class="column is-two-fifths">
	    			<div class="box is-radiusless">
	    				{% include 'templates/partials/admin/adminSidebar.html' %}
	    			</div>
	    		</div>

	    		<div class="column">
	    			<div class="box is-radiusless">
	    				<h1 class="title is-4">Регионы</h1>

	    				<hr>
	    				{% if regions.length > 0 %}
		    				{% for region in regions %}
		    					<p>
		    						<strong>#{{ loop.index }} {{ region.name }}</strong>

		    						/ 

		    						<a href="/admin-panel/regions/edit/{{ region.region_id }}">Редактировать</a> 

		    						/ 

		    						<a href="/admin-panel/regions/delete/{{ region.region_id }}">Удалить</a>
		    					</p>

		    					<hr>
		    				{% endfor %}
	    				{% else %}
	    					Регионы не найдены!
	    				{% endif %}
	    			</div>
		    	</div>
	    	</div>
    	</div>
	</section>
{% endblock %}

{% block js_extra %}
	<script src="/admin/js/ajax.js"></script>
	<script src="/admin/js/ajaxRegions.js"></script>
{% endblock %}