{% extends 'layouts/admin/layout.html' %}

{% block css_extra %}
	<link rel="stylesheet" type="text/css" href="/admin/css/admin.css">
{% endblock %}

{% block title %}
	<title>{{ adminPanelTitle }} / Удалить пользователя</title>
{% endblock %}

{% block body %}
	<section class="section">
	    <div class="container is-fluid">
	    	<div class="columns is-variable is-3">
	    		<div class="column is-two-fifths">
	    			<div class="box is-radiusless">
	    				{% include 'templates/partials/admin/adminSidebar.html' %}
	    			</div>
	    		</div>
	    		
	    		<div class="column">
	    			<div class="box is-radiusless">
	    				<h1 class="title is-4">Удаление пользователя</h1>

	    				<hr>

	    				{% if found %}
	    					<p>Удалить пользователя - <strong>{{ user[0].login }}</strong>?</p>

	    					<hr>

	    					<form id="usersDeleteForm">
	    						<input name="userID" value="{{ user[0].user_id }}" type="hidden">

	    						<button id="usersDeleteButton" class="button is-danger w50">Удалить</button>
	    					</form>
	    				{% else %}
	    					Пользователь с таким ID не найден!
	    				{% endif %}
	    			</div>
		    	</div>
	    	</div>
    	</div>
	</section>
{% endblock %}

{% block js_extra %}
	<script src="/admin/js/ajax.js"></script>
	<script src="/admin/js/ajaxUsers.js"></script>
{% endblock %}