{% extends 'layouts/admin/layout.html' %}

{% block css_extra %}
	<link rel="stylesheet" type="text/css" href="/admin/css/admin.css">
{% endblock %}

{% block title %}
	<title>{{ adminPanelTitle }} / Редактировать пользователя</title>
{% endblock %}

{% block body %}
	<section class="section">
	    <div class="container is-fluid">
	    	<div class="columns is-variable is-3">
	    		<div class="column is-two-fifths">
	    			<div class="box is-radiusless">
	    				{% include 'templates/partials/admin/adminSidebar.html' %}
	    			</div>
	    		</div>

	    		<div class="column">
	    			<div class="box is-radiusless">
	    				<h1 class="title is-4">Редактирование пользователя</h1>

	    				<hr>

	    				{% if found %}
	    					<form id="usersEditForm">
		    					<label class="label has-text-weight-normal">
									Роль пользователя
									<strong class="has-text-danger">*</strong>
								</label>
								
		    					<div class="field">
									<div class="control">
										<div class="select">
											<select id="usersEditRole" name="role" class="is-radiusless">
												{% if user[0].role == 'administrator' %}
													<option value="administrator" selected>Администратор</option>
													<option value="moderator">Модератор</option>
												{% elseif user[0].role == 'moderator' %}
													<option value="administrator">Администратор</option>
													<option value="moderator" selected>Модератор</option>
												{% else %}
													<option value="administrator" selected>Администратор</option>
													<option value="moderator">Модератор</option>
												{% endif %}
											</select>
										</div>
									</div>
								</div>

								<hr>

								<label class="label has-text-weight-normal">
									Пароль пользователя
									<strong class="has-text-danger">*</strong>
								</label>
								
		    					<div class="field">
									<div class="control">
										<input name="password" id="usersEditPassword" class="input is-radiusless" type="password" placeholder="Введите пароль пользователя" autocomplete="off">
									</div>
								</div>

								<hr>

								<input name="userID" value="{{ user[0].user_id }}" type="hidden">

								<div class="field">
									<div class="control">
										<button id="usersEditButton" class="button is-link w50">
											Изменить
										</button>
									</div>
								</div>
		    				</form>
	    				{% else %}
	    					Пользователь с таким ID не найден!
	    				{% endif %}
	    			</div>
		    	</div>
	    	</div>
    	</div>
	</section>
{% endblock %}

{% block js_extra %}
	<script src="/admin/js/ajax.js"></script>
	<script src="/admin/js/ajaxUsers.js"></script>
{% endblock %}