{% extends 'layouts/layout.html' %}

{% block css_extra %}
	
{% endblock %}

{% block body %}
	<section class="hero is-warning is-fullheight">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
				Внимание!
				</h1>

				<h2 class="subtitle">
				Произошла ошибка при работе с сервером. Перейдите на <strong><a href="/" style="border-bottom: 1px dotted;">главную страницу</a><strong>.
				</h2>
			</div>
		</div>
	</section>
{% endblock %}

{% block js_extra %}
	
{% endblock %}	