<section>
	<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item has-text-weight-bold is-active" href="/">R21 / Новости</a>

			<button class="button navbar-burger is-dark" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>

		<div class="navbar-menu navbar-end" id="navMenu">
			<a class="navbar-item" href="/">Главная</a>
			<a class="navbar-item" href="/about">О нас</a>
			<a class="navbar-item" href="/contacts">Контакты</a>
			<a class="navbar-item" href="/job">Вакансии</a>
		</div>
	</nav>
</section>

<div class="header-description">
	<div class="columns">
		<div class="column has-text-left">
			Новостной ресурс Чувашской Республики
		</div>
		<div class="column has-text-right">
			<a id="addSuggestedLink" href="/addSuggested" class="has-text-dark" style="text-decoration: underline;">Предложить новость</a>
		</div>
	</div>
</div>
